$def with (form, text)
<!doctype html>
<html>
	<head>
		<title>Bin Fun Game!</title>
		<link rel="stylesheet" type="text/css" href="/static/Display.css" />
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" src="/static/Display.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				Your Sort it Out Score!
			</div>
			<div id="border0">
			</div>
			<div id="border1">
				<div id="FoodScraps">
					<h1><span id="foodscraps">Food Scraps</span></h1>
				</div>
			</div>
			<div id="border1">
				<div id="RecyclableContainers">
					<span id="recyclablecontainers">Recyclable Containers</span>
				</div>
			</div>
			<div id="border1">
				<div id="Paper">
					<h1><span id="paper">Paper</span></h1>
				</div>
			</div>
			<div id="border1">
				<div id="Garbage">
					<h1><span id="garbage">Garbage</span></h1>
				</div>
			</div>
			<div id="border2">
				<div id="GreenCount">
					<div id="GreenSlot">
						<figure class="front">
							<h2><span id="front_green">$text</span></h2>
						</figure>
						<figure class="back">
							<h2><span id="back_green">$text</span></h2>
						</figure>
					</div>
				</div>
			</div>
			<div id="border2">
				<div id="GreyCount">
					<div id="GreySlot">
						<figure class="front">
							<h2><span id="front_grey">$text</span></h2>
						</figure>
						<figure class="back">
							<h2><span id="back_grey">$text</span></h2>
						</figure>
					</div>
				</div>
			</div>
			<div id="border2">
				<div id="BlueCount">
					<div id="BlueSlot">
						<figure class="front">
							<h2><span id="front_blue">$text</span></h2>
						</figure>
						<figure class="back">
							<h2><span id="back_blue">$text</span></h2>
						</figure>
					</div>
				</div>
			</div>
			<div id="border2">
				<div id="BlackCount">
					<div id="BlackSlot">
						<figure class="front">
							<h2><span id="front_black">$text</span></h2>
						</figure>
						<figure class="back">
							<h2><span id="back_black">$text</span></h2>
						</figure>
					</div>
				</div>
			</div>
			<div id="border3">
				<div id="GreenText">
					<td align="center">
						<div id="GreenMessage">
							message1
						</div>
					</td>
				</div>
			</div>
			<div id="border3">
				<div id="GreyText">
					<td align="center">
						<div id="GreyMessage">
							message2
						</div>
					</td>
				</div>
			</div>
			<div id="border3">
				<div id="BlueText">
					<td align="center">
						<div id="BlueMessage">
							message3
						</div>
					</td>
				</div>
			</div>
			<div id="border3">
				<div id="BlackText">
					<td align="center">
						<div id="BlackMessage">
							message4
						</div>
					</td>
				</div>
			</div>
			<div id="GreenAnimation">
				<td align="center">
					<img src="" id="GreenImage" style="height: 95%; width: 95%; object-fit: contain" />
				</td>
			</div>
			<div id="GreyAnimation">
				<td align="center">
					<img src="" id="GreyImage" style="height: 95%; width: 95%; object-fit: contain" />
				</td>
			</div>
			<div id="BlueAnimation">
				<td align="center">
					<img src="" id="BlueImage" style="height: 95%; width: 95%; object-fit: contain" />
				</td>
			</div>
			<div id="BlackAnimation">
				<td align="center">
					<img src="" id="BlackImage" style="height: 95%; width: 95%; object-fit: contain" />
				</td>
			</div>
		</div>
	</body>
</html>