$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Bin Fun Game!</title>
        <link rel="stylesheet" type="text/css" href="/static/Display.css" />
        
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript">
                                jQuery(document).ready(function() {
                                function updateCount() {
                                    jQuery.ajax({
                                        type: "POST",
                                        success: function(data){
                                            var array = parseData(data);
                                            if (prev_green != array[0]) {
                                                jQuery('#green').html(array[0]);
                                                changeGreenPic();
                                                prev_green = array[0];
                                            }
                                            if (prev_grey != array[1]) {
                                                jQuery('#grey').html(array[1]);
                                                changeGreyPic();
                                                prev_grey = array[1];
                                            }
                                            if (prev_blue != array[2]) {
                                                jQuery('#blue').html(array[2]);
                                                changeBluePic();
                                                prev_blue = array[2];
                                            }
                                            if (prev_black != array[3]) {
                                                jQuery('#black').html(array[3]);
                                                changeBlackPic();
                                                prev_black = array[3];
                                            }
                                        }
                                    });
                                    
                                    num = (num * 11 + 17) % 25;
                                }

                                function parseData(data){
                                    var str = data.substring(1,(data.length)-1);
                                    var array = str.split(", ");
                                    return array;
                                }

                                function changeGreenPic() {  
                                    green_img.style.display = '';
                                    if (num % 2 === 0) { 
                                        green_img.src = "static/greenMonster1.gif"; 
                                    } else if (num % 2 === 1) {
                                        green_img.src = "static/greenMonster2.gif";
                                    }
                                }
                                function changeGreyPic() {  
                                    grey_img.style.display = ''; 
                                    if (num % 2 === 0) {
                                        grey_img.src = "static/blueMonster1.gif";
                                    } else if (num % 2 === 1) {
                                        grey_img.src = "static/blueMonster2.gif";
                                    }
                                }
                                function changeBluePic() {  
                                    blue_img.style.display = ''; 
                                    if (num % 2 === 0) { 
                                        blue_img.src = "static/purpleMonster1.gif";
                                    } else if (num % 2 === 1) { 
                                        blue_img.src = "static/purpleMonster2.gif";    
                                    }
                                }
                                function changeBlackPic() {
                                    black_img.style.display = ''; 
                                    if (num % 2 === 0) { 
                                        black_img.src = "static/blackMonster1.gif";
                                    }
                                    else if (num % 2 === 1) { 
                                        black_img.src = "static/blackMonster1.gif";
                                    }
                                }
                                var num = 0;
                                var prev_green = 0;
                                var prev_grey = 0;
                                var prev_blue = 0;
                                var prev_black = 0;
                                var green_img = document.getElementById("GreenImage");
                                var grey_img = document.getElementById("GreyImage");
                                var blue_img = document.getElementById("BlueImage");
                                var black_img = document.getElementById("BlackImage");
                                green_img.style.display = 'none';   
                                grey_img.style.display = 'none';
                                blue_img.style.display = 'none';   
                                black_img.style.display = 'none';
                                var counter = setInterval(updateCount, 500);    
                                changeGreenPic();
                                });
        </script>
    </head>
    
    <body>
	    <div id="container">
		    <div id="header">
		        Your Sort it Out Score!
		    </div>
            
            <div id="GreenCount">
                <h1><span id="foodscraps">Food Scraps</span></h1>
                <h2><span id="green">$text</span></h2>
            </div>

            <div id="GreyCount">
                <h1><span id="plastics">Plastics</span></h1>
                <h2><span id="grey">$text</span></h2>
            </div>
            
            <div id="BlueCount">
                <h1><span id="paper">Paper</span></h1>
                <h2><span id="blue">$text</span></h2>
            </div>

            <div id="BlackCount">
                <h1><span id="garbage">Garbage</span></h1>
                <h2><span id="black">$text</span></h2>
            </div> 

            <div id="GreenText">
                <td align="center">
                    GREEN
                </td>
            </div>
            
            <div id="GreyText">
                <td align="center">
                    GREY
                </td>
            </div>
            
            <div id="BlueText">
                <td align="center">
                    BLUE
                </td>
            </div>
            
            <div id="BlackText">
                <td align="center">
                    BLACK
                </td>
            </div>
            <div id="GreenAnimation">
		        <td align="center">
                    <img src="" id="GreenImage" style="height: 95%; width: 95%; object-fit: cover" />
                </td>
		    </div>
		    
		    <div id="GreyAnimation">
		        <td align="center">
                    <img src="" id="GreyImage" style="height: 95%; width: 95%; object-fit: cover" />
                </td>
		    </div>
		    
		    <div id="BlueAnimation">
		        <td align="center">
                    <img src="" id="BlueImage" style="height: 95%; width: 95%; object-fit: cover" />
                </td>
		    </div>
		    
		    <div id="BlackAnimation">
		        <td align="center">
                    <img src="" id="BlackImage" style="height: 95%; width: 95%; object-fit: cover" />
                </td>
		    </div>
		</div>

    </body>
    
</html>
