$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Bin Fun Game!</title>
        <link rel="stylesheet" type="text/css" href="/static/Display.css" />
        
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript">
                                jQuery(document).ready(function() {
                                function updateCount(){
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "black"},
                                        success: function(data){
                                            jQuery('#black').html(data).hide().fadeIn(500);
                                            console.log("Success update : Black")
                                            changePicture("black")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "green"},
                                        success: function(data){
                                            jQuery('#green').html(data).hide().fadeIn(500);
                                            console.log("Success update : green")
                                            changePicture("green")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "blue"},
                                        success: function(data){
                                            jQuery('#blue').html(data).hide().fadeIn(500);
                                            console.log("Success update : blue")
                                            changePicture("blue")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "grey"},
                                        success: function(data){
                                            jQuery('#grey').html(data).hide().fadeIn(500);
                                            console.log("Success update : grey")
                                            changePicture("grey")
                                        }
                                    });
                                }
                                function changePicture(color)
                                {
                                    img.style.display = '';    
                                    if (color === "black") {
                                        img.src = "http://iliketowastemytime.com/sites/default/files/mind-bending-gif-images2.gif";
                                    }
                                    else if (color === "green") {
                                        img.src = "";       
                                    }
                                    else if (color === "blue") {
                                        img.src = "";    
                                    }
                                    else if (color === "grey") {
                                        img.src = ""; 
                                    }
                                }
                                var img = document.getElementById("Image");
                                img.style.display = 'none'; 
                                var counter = setInterval(updateCount, 1000);
                                   
                                });
        
                        </script>
    </head>
    
    <body>
        
        <br><br>
        <p><font color="white">BlackCount: <span id="black">$text</span></font></p>
        <p><font color="white">GreenCount: <span id="green">$text</span></font></p>
        <p><font color="white">BlueCount: <span id="blue">$text</span></font></p>
        <p><font color="white">GreyCount: <span id="grey">$text</span></font></p>

        <br><br>
        <td align="center">
        <img src="" id="Image"/>
        </td>
        

    </body>
    
</html>
