$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Bin Fun Game!</title>
        <link rel="stylesheet" type="text/css" href="/static/Display.css" />
        
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript">
                                jQuery(document).ready(function() {
                                function updateCount(){
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "black"},
                                        success: function(data){
                                            jQuery('#black').html(data).hide().fadeIn(500);
                                            console.log("Success update : Black")
                                            changePicture("black")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "green"},
                                        success: function(data){
                                            jQuery('#green').html(data).hide().fadeIn(500);
                                            console.log("Success update : green")
                                            changePicture("green")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "blue"},
                                        success: function(data){
                                            jQuery('#blue').html(data).hide().fadeIn(500);
                                            console.log("Success update : blue")
                                            changePicture("blue")
                                        }
                                    });
                                    jQuery.ajax({
                                        type: "POST",
                                        data: {color : "grey"},
                                        success: function(data){
                                            jQuery('#grey').html(data).hide().fadeIn(500);
                                            console.log("Success update : grey")
                                            changePicture("grey")
                                        }
                                    });
                                }
                                
                                function changePicture(color)
                                {  
                                    if (color === "black") {
                                        blkimg.style.display = '';  
                                        blkimg.src = "http://iliketowastemytime.com/sites/default/files/mind-bending-gif-images2.gif";
                                    }
                                    else if (color === "green") {
                                        greenimg.style.display = '';  
                                        greenimg.src = "http://iliketowastemytime.com/sites/default/files/mind-bending-gif-images2.gif";       
                                    }
                                    else if (color === "blue") {
                                        blueimg.style.display = '';  
                                        blueimg.src = "http://iliketowastemytime.com/sites/default/files/mind-bending-gif-images2.gif";    
                                    }
                                    else if (color === "grey") {
                                        greyimg.style.display = '';  
                                        greyimg.src = "http://iliketowastemytime.com/sites/default/files/mind-bending-gif-images2.gif"; 
                                    }
                                }
                                var blkimg = document.getElementById("BlackImage");
                                var greenimg = document.getElementById("GreenImage");
                                var blueimg = document.getElementById("BlueImage");
                                var greyimg = document.getElementById("GreyImage");
                                blkimg.style.display = 'none';
                                greenimg.style.display = 'none';   
                                blueimg.style.display = 'none';   
                                greyimg.style.display = 'none';   
                                var counter = setInterval(updateCount, 1000);
                                   
                                });
        
                        </script>
    </head>
    
    <body>
	    <div id="container">
		    <div id="header">
		        Current Bin Count!
		    </div>
		
		    <div id="Black">
		        <h2><span id="black">$text</span></h2>
		        <td align="center">
        			<img src="" id="BlackImage" style="height: 25%; width: 100%; object-fit: contain" />
        		</td>
		    </div>
		    
		    <div id="Green">
		        <h2><span id="green">$text</span></h2>
		        <td align="center">
        			<img src="" id="GreenImage" style="height: 25%; width: 100%; object-fit: contain" />
        		</td>
		    </div>
		    
		    <div id="Blue">
		        <h2><span id="blue">$text</span></h2>
		        <td align="center">
        			<img src="" id="BlueImage" style="height: 25%; width: 100%; object-fit: contain" />
        		</td>
		    </div>
		    
		    <div id="Grey">
		        <h2><span id="grey">$text</span></h2>
		        <td align="center">
        			<img src="" id="GreyImage" style="height: 25%; width: 100%; object-fit: contain" />
        		</td>
		    </div>
		</div>

    </body>
    
</html>
