html {
    overflow: auto;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    padding: 0;
    margin: 0;
}

h1 {
    display: inline;
    font-size: 4vw;
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 15vmin;
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#container {
    background-color: Aqua;
    width: 100%;
    height: 100%;
}

#header {
    height: 15%;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    width: 100%;
    color: #000;
    font-size: 12vmin;
    text-align: center;
    background-color: #FFF;
}

#FoodScraps {
    overflow: auto;
    width: 25%;
    height: 15%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: green;
}

#Plastics {
    overflow: auto;
    width: 25%;
    height: 15%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: grey;
}

#Paper {
    overflow: auto;
    width: 25%;
    height: 15%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: blue;
}

#Garbage {
    overflow: auto;
    width: 25%;
    height: 15%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: black;
}

#GreenCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: green;
}

#GreenSlot {
    width: 25%;
    height: 20%;  
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

#GreenSlot figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#GreenSlot .front {
    background: green;
}

#GreenSlot .back {
    background: green;
    transform: rotateX( 180deg );
}

#GreenSlot.flipped {
    transform: rotateX( -180deg );
}

#GreyCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: grey;
}

#GreySlot {
    width: 25%;
    height: 20%;  
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

#GreySlot figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#GreySlot .front {
    background: grey;
}

#GreySlot .back {
    background: grey;
    transform: rotateX( 180deg );
}

#GreySlot.flipped {
    transform: rotateX( -180deg );
}

#BlueCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: blue;
}

#BlueSlot {
    width: 25%;
    height: 20%;  
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

#BlueSlot figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#BlueSlot .front {
    background: blue;
}

#BlueSlot .back {
    background: blue;
    transform: rotateX( 180deg );
}

#BlueSlot.flipped {
    transform: rotateX( -180deg );
}

#BlackCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: black;
}

#BlackSlot {
    width: 25%;
    height: 20%;  
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

#BlackSlot figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#BlackSlot .front {
    background: black;
}

#BlackSlot .back {
    background: black;
    transform: rotateX( 180deg );
}

#BlackSlot.flipped {
    transform: rotateX( -180deg );
}

#GreenText {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: green;
}

#GreyText {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: grey;
}

#BlueText {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: blue;
}

#BlackText {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: black;
}

#GreenAnimation {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: white;
}

#GreyAnimation {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: white;
}

#BlueAnimation {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: white;
}

#BlackAnimation {
    overflow: auto;
    width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    background-color: white;
}