html {
    overflow: auto;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    padding: 0;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#container {
    background-color: Aqua;
    width: 100%;
    height: 100%;
}

#header {
    height: 15%;
    overflow: hidden;
    width: 100%;
    color: #000;
    font-size: 12vmin;
    font-style: oblique;
    text-align: center;
    background-color: #FFF;
}

#GreenCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: green;
}

#GreyCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: grey;
}

#BlueCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: blue;
}

#BlackCount {
    overflow: auto;
    width: 25%;
    height: 20%;
    float: left;
    color: #FFF;
    font-size: 10vmin;
    text-align: center;
    background-color: black;
}

#GreenAnimation {
    overflow: auto;
    width: 25%;
    height: 65%;
    float: left;
    text-align: center;
    background-color: green;
}

#GreyAnimation {
    overflow: auto;
    width: 25%;
    height: 65%;
    float: left;
    text-align: center;
    background-color: grey;
}

#BlueAnimation {
    overflow: auto;
    width: 25%;
    height: 65%;
    float: left;
    text-align: center;
    background-color: blue;
}

#BlackAnimation {
    overflow: auto;
    width: 25%;
    height: 65%;
    float: left;
    text-align: center;
    background-color: black;
}